<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <title>Koholo.com</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link rel="stylesheet" href="main.css">
</head>
    
<body>
    <div id="logga">
        <img src="logo-koholo.png">
    </div>
<nav id="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="brandname" class="navbar-brand" href="index.html">Koholo.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Hem</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kontakt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">Kontakta oss</a></li>
            <li><a href="Company.html">För företag</a></li>
          </ul>
        </li>
        <li><a href="how-to.html">Att shoppa</a></li>
        <li><a href="about.html">Om oss</a></li>
        <li><a href="#">Butiker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrera dig</a></li>
        <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
      </ul>
    </div>
  </div>
 </nav>
  
    <div class="container">
    <h2 id="companyh2">För företag...</h2>
        
        <h3>En marknadsplats för stora och små</h3>
            <p>Koholo erbjuder etablerade e-butiker en anslutning av produkter till en marknadsplats tillsammans med välkända men även mindre etablerade varumärken. Koholo
	är öppen för butiker i alla storlekar men särskilt de lite mindre då de ofta har ett mer specialiserat produktsortiment som är attraktivt för köpare.</p>
	       <p>Du väljer själv om du vill att affären ska genomföras direkt på Koholo eller om du hellre vill generera trafik till din ordinarie webbutiks produktsida. Samtliga butiks- och
	produktsidor är sökmotoroptimerade vilket stärker butikens representation på webben och därmed din ordinarie webbutiks placering i sökmotorer.</p>
	<h3>Så här kommer du igång</h3>
	       <p>Efter din registrering loggas du direkt in i admin där du fyller i dina butiksuppgifter. Här finns en instruktion hur du exporterar dina produkter från din befintliga e-butik till en
	prisfil som läggs på din server. När vi läser in dina produkter hamnar de i din interna butik hos oss och är därmed synliga i portalen. Denna fil läser vi in
	regelbundet vilket gör att ditt sortiment alltid är uppdaterat i fall du gjort förändringar i det. Exporten av dina produkter till en prisfil tar inte mer än fem minuter och
	är en enkel process för dig eller den som byggt din e-butik. Du har alltid möjlighet att ringa oss så hjälper vi dig att komma igång. <a href="register.html">»
	Registrera dig här</a></p>
    
	<h3>Detta ingår i din nätbutik (PRO)</h3>
        <ul>
            <li>Medverkan i en välbesökt shoppingportal</li>
            <li>Alla dina sidor är sökmotoroptimerade</li>
            <li><span style="color:Red;">Obegränsat med produkter*</span></li>
            <li><span style="color:Red;">Kontinuerlig autoinläsning av produkter*</span></li>
            <li>Beställningar via mail/<span style="color:Red;">Länk till din egen produktsida*</span></li>
            <li>Inga transaktionsavgifter</li>
            <li>Sökfunktion</li>
            <li>Användarvänligt webbaserat adminverktyg</li>
            <li>Möjlighet att koppla beställningar till ditt PayPal-konto</li>
            <li>Obegränsat med informationssidor</li>
            <li>Möjlighet att skapa produktkategorier</li>
            <li>Obegränsad trafikmängd</li>
            <li>Daglig backup</li>
            <li>E-post- & <span style="color:Red;">Telefonsupport*</span></li>
        </ul>
	<span style="color:Red;font-size:10px;">* Utöver produktnivå BAS för privatpersoner</span>
    <h3>Priser för produktnivå PRO</h3>
	   <p>3 år: 8 400 kr<br>2 år: 6 400 kr<br>1 år: 3 900 kr</p> <br>


</div>
    
    <footer id="sidfot" class="footer">
        <p id="copyright">Presenteras av Koholo Shopping Network © 2016 koholo.com. Alla rättigheter förbehållna</p>
    </footer>

</body>
</html>