<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Koholo.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
    
<body>
    <div id="logga">
        <img src="logo-koholo.png">
    </div>
<nav id="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="brandname" class="navbar-brand" href="index.html">Koholo.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Hem</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kontakt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">Kontakta oss</a></li>
            <li><a href="Company.html">För företag</a></li>
          </ul>
        </li>
        <li><a href="how-to.html">Så här funkar det</a></li>
        <li><a href="about.html">Om oss</a></li>
        <li><a href="#">Butiker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrera dig</a></li>
        <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
      </ul>
    </div>
  </div>
 </nav>
    
    <div class="container">
        <h2 id="how-to-h2">Så här funkar det...</h2>
            <div class="col-sm-8">
                <h4>ONLINE SHOPPING - enkelt och bekvämt</h4>
            </div>
        <div class="col-sm-7">
            <section>Koholos ambition är att ALLA ska ha en egen nätbutik, både privatpersoner och butiksägare. Målet är att du som shoppare alltid ska hitta det du söker efter. Idag finner du hundratals butiker från hela världen med totalt 4.097.368 produkter att välja bland. Koholo består av:</section>
        </div>
        
        <div class="col-sm-7">
            <section class="how-to-Section text-left"><strong>Extern del med online shoppingportal: </strong> Sök efter en produkt direkt i sökrutan tillsammans med en branschkategori eller kombinera dessa med den utökade sökningen. Använd de geografiska sökvalen om du vill se vad dina lokala butiker eller kanske din granne erbjuder. När du hittat produkten du är intresserad av besöker du dess interna e-butik för mer information och för att beställa den. Letar du efter en speciell butik inom en viss bransch så använder du sökmotorn för butiker istället. </section>
        </div>
    
        <div class="col-sm-7">
            <section class="how-to-Section text-left"><strong>Interna e-butiker: </strong> Varje butik på sajten har en egen intern webbutik. I denna kan du antingen beställa produkten och lägga order via varukorgen eller gå direkt till webbbutikens ordinarie produktsida och lägga ordern där. Om du beställer produkten via Koholo så informerar butiken om fraktkostnader och om hur betalning sker antingen i den interna butiken eller genom att kontakta dig efter din beställning. </section>
        </div>
        
        <div class="col-sm-7">
            <section class="how-to-Section text-left"><strong>Kundadmin: </strong> Här administrerar butiken sina egna produkter och sidor. Läs mer om hur du blir butiksägare på Om Oss</section>
        </div>
        
<!--Div skapad om det ska läggas in samma bild som finns just nu på "Såhär funkar det"-->
        <div id="howPicture">
            <img>
        </div>
        
    </div> 
    <footer id="sidfot" class="footer">
        <p id="copyright">Presenteras av Koholo Shopping Network © 2016 koholo.com. Alla rättigheter förbehållna</p>
    </footer>

</body>
</html>