/*Simons CSS för startsida och bas design för resten av sidan*/
#modallink {
    text-decoration: none;
    color: white;
}
#wrapper {
    height: auto;
    position: relative;
  
}
/*Style för redirectsida*/
#redirectimg {
    margin-top: 20%;
}

#redirtext {
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

/*Style för produkt modal*/
.btn-success {
    float: left;
}
.modal-body {
    height: 100%;
}

.modal-body > p, h3 {
    width: 50%;
    margin-right: 0;
    display: inline-block;
}
.modalimage {
    position: relative;
    bottom: 120px;
    float: right;
    width: 30%;
}

.modal-footer {
    margin-bottom: 2%;
}
.productinfoheader {
    font-family: 'Lobster', cursive;
    font-size: 250%;

}

.productinfo {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 200%;
}

.descriptionheader {
    margin-top: 5%;
    font-weight: bold;
}

.productdescription {
    font-size: 90%;
}
/*Style för header på butikssida*/
#storelogo {
    height: 74px;
    width: 95px;
}

.storedescription {
    font-family: 'Lobster', cursive;
    text-align: center;
}

.storecategory {
    color: darkgray;
    text-align: center;
}

.storelink {
    text-align: center;

}

/*Style för sökfältets knapp*/
.btn-primary {
    background-color: #417C81;
    border: none;
}

.btn-primary:hover {
    background-color: #73AC96;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

/*Style för knappar i menyn*/
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

/*Style för socialmedier knapparna*/
.social-circle > li > a {
    background-color: lightgray;
}

ul.social-network {
	list-style: none;
	display: inline;
	padding: 0;
}
ul.social-network li {
    text-align: center;
	display: inline;
	margin: 0 2px;
}

.social-network a.icoInsta:hover {
	background-color: #e95950;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i, {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network social-circle < a {
 background-color: #D3D3D3;   
}

/*Style för bildspel*/
.slick-prev:before, .slick-next:before { 
    color: lightgray!important;
}

/*Style för enskilda bilder i bildspelen*/
.slideimg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slidedesc {
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
}

.cl {
  height:175px;
  width: 230px;
  display: inline-block;
  vertical-align: top; /*not required*/
  position: relative;
}

.cl-yellow { 
  background: white;
  border: 1px solid lightgray;
    
}

.cl-blue { 
  background: white;
  border: 1px solid lightgray;
}

.cl-red { 
  background: white;
  border: 1px solid lightgray;
}

.slick-active { 
  padding: 20px 0; 
}

.slick-center { 
  transform: scale(1.08) 
}

.slick-slide:not(.slick-active) { 
  margin: 20px 0; 
}

.child { 
  width:100%; 
}

.slide:not(.slick-active) { 
  cursor: pointer; 
}

/*Style för logotyp och dess div*/
.logga {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#logo {
    height: 110px;
    width: 220px;
}

/*Style för rubriker, bildspel*/
.popular {
    font-family: 'Lobster', cursive;
    font-style: bold;
    margin-bottom: 0;
    margin-top: 2%;
    text-align: center;
}


/*Färgstyle för navigationen*/
#navigation {
    background-color: #417C81;
    border: none;
}

#navigation > a  {
    color: white;
}



#copyright {
    padding-top: 1%;
}

/*Style för rubrik, söka produkter*/
#searchhead {
    margin-top: 2%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-style: bold;
    font-size: 200%;
}

.col-xs-8 {
    width: 80%;
}

.col-xs-offset-2 {
    margin-left: 10%;
}

.scrollable-menu{
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}
/*Style för sökknapp*/
#searchbtn {
    color: white;
    background-color: #417C81;
    border-color: #ccc;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
#searchbtn1 {
    color: white;
    background-color: #417C81;
    border-color: #ccc;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

#searchbtn:hover {
    background-color: #73AC96;
}

#searchinfo{
    border-color: white;
}

#searchinfo:hover {
    background-color: white;
}

/*Style för kategoriknapp*/
#categorybtn {
    color: gray;
    background-color: white;
    border-color: #ccc;
    width: 150px;
}

#categorybtn:hover {
    background-color: white;
}

/*Style för "Koholo.com" i menyn*/
#brandname:hover {
    color: #68979B;
}

/*Färgschema för menyn*/
.navbar-inverse .navbar-nav>li>a:hover {
    color: #68979B; 
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #68979B;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #68979B;
}

.navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #68979B;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #417C81;
    color: #68979B;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}


/* Jacob CSS för register.html, bas-design ärvs från ovanstående*/
#CreateButton{
    background-color: #417C81;
    color: white;
    margin-bottom: 40px;
}

#CreateButton:hover {
    background-color: #68979B;
}

#registerh2{
    
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}

#comment{
    resize: none;
}

#termsButton{
    border-color: white;
    background-color: white;
    color: dodgerblue;
    font-size: 14px;
}

/* Jacob CSS för contact.html, bas-design ärvs från ovanstående*/
#contacth2{
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}

#ContactButton{
    background-color: #417C81;
    color: white;
}

/* Jacob CSS för how-to.html, bas-design ärvs från ovanstående*/

#how-to-h2{
    font-family: 'Lobster', cursive;

}

.how-to-Section{
    margin-top: 10px;
}

/* Jacob CSS för how-to.html, bas-design ärvs från ovanstående*/

#abouth2{
    font-family: 'Lobster', cursive;

}

.about-section{
    margin-top: 10px;
}

/* Jacob CSS för reset.html, bas-design ärvs från ovanstående*/
#reset-password-button{
    background-color: #417C81;
    color: white;
}

#reseth2{
    font-family: 'Lobster', cursive;
}

/*Khaleds CSS//CSS för Company.html, bas-design ärvs från ovan*/

#companyh2{
    font-family: 'Lobster', cursive;
}

/*Khaleds CSS//CSS för Login.html, bas-design ärvs från ovan*/
#loginH3{
    font-family: 'Lobster', cursive;
    color: black;
}

/* Basic Reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lead {
  font-size: 1.8rem;
}

p {
  margin-bottom: 1.5rem;
}

.text-small {
  font-size: 75%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.display__inline {
  display: inline;
}

/* Padding Helpers */
.padding-tb {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Basic Demo Styles */
.site-container {
  max-width: 320px;
  margin: 10px auto;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
@media screen and (min-width: 60.063em) {
  .site-container {
    max-width: 400px;
  }
}

.footer__content {
  margin-top: 1.6rem;
}

/* Card */
.card {
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 1em;
}
.card h3 {
  font-weight: bold;
}

/* Material Design Form Inputs */
.form__wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1.6rem;
  width: 100%;
  vertical-align: top;
}

.form__wrapper--submit {
  padding: 1.6rem 0;
}

.form__input {
  display: block;
  position: relative;
  margin-top: 1em;
  padding: 0.84em 0;
  width: 100%;
  box-sizing: border-box;
  color: #444;
  font-size: 1.6rem;
  outline: 0;
  border: none;
  border-bottom: solid 1px #ddd;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #417C81 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #417C81 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  /**
   * Remove default box-shadow for required pseudo classes 
   */
  /**
   *  When input contain a class of .error 
   */
}
.form__input:required {
  box-shadow: none;
}
.form__input.error {
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f44336 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f44336 4%);
  background-position: 0 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
}
.form__input:focus {
  background-position: 0 0;
  color: #444;
  -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/* Form Label */
.form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
  color: #999;
}

/* Form Label Content */
.form__label-content {
  position: absolute;
  -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/**
 * 1. When input is focused move the label to top
 * 2. when the input field has a value move the label to top
 */
.form__input:focus ~ .form__label .form__label-content,
.form--filled .form__label-content {
  font-size: 1.4rem;
  -webkit-transform: translate3d(0, -65%, 0);
  -moz-transform: translate3d(0, -65%, 0);
  transform: translate3d(0, -65%, 0);
}

/**
 * Error Styles
 * .error class generated by jquery.validate.min.js plugin
 */
.error {
  font-size: 1.4rem;
  color: #68979B;
  display: block;
}

/* Basic Buttons */
#LoginButton {
  display: inline-block;
  padding: 0.6em 1.5em;
  border-radius: 2px;
  background-color: #417C81;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
}
#LoginButton:focus, #LoginButton:hover {
  background-color: #68979B;
}
.btn.btn-block {
  width: 100%;
  display: block;
}

#productfigure{
	
	width: 98%;
    margin: 1%;
    padding: 1%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    box-sizing: border-box;
}

#productimage{
	float: right;
}

/* Jacob CSS för register.html, alignar text till vänster.*/
@media screen and (min-width: 768px){

    .form-horizontal .control-label {
        text-align: left;
}
    #adv-search {
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 768px){

    .modal-body > p, h3 {
        width: 100%;
        display: inline-block;
    }
    .modalimage {
        position: static;
        bottom: 0;
        margin-top: 1%;
        margin-bottom: 2%;
        float: left;
        width: 100%;
    }

    .productinfoheader {
        font-family: 'Lobster', cursive;
        font-size: 250%;

    }

    .productinfo {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 200%;
    }

    .productdescription {
        font-size: 90%;
    }
        .storedescription {
            font-size: 100%;
    }

        .storecategory {
            font-size: 100%;
    }

        .storelink {
           font-size: 100%; 
        }
    }


/*Jacob CSS for member-index.html*/

#EditMember-button{
    background-color: #417C81;
    color: white;
}

#member-readonly{
    padding-top: 10px;
}

#member-readonly > .form-group > .col-sm-5 > input{
    margin-top: 5px;
}
/*Style för footer*/


.footer {
    
    
    width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    height:120px;
    font-size: 80%;
    bottom: 0;
    clear:both;
    position: fixed;
}






#filter{
    width:100%;
    float:left;
   
    
    
    
}

#filter>a{
    
    color:black;
    
    
}

#sfdiv{
    
    
   height:100px;
    
    
}

#searchF{
    
    width:50%;
    margin-left:25%;
    
    
}

hmtl,body {
height:100%;    
min-height:100%;
}


.ProductWrapper{
    
    min-height: 85%;
    margin-top:10px;
    margin-bottom: 20%;
    clear:both;
 
}

.ProductDiv{
    height:300px;
    width:16%;
    border-radius:1%;
    padding:2px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
    float:left;
    overflow:hidden;
    margin-bottom:15px;
}

.ProductDiv>img{
    width:auto;
    max-width:100%;
    height: auto;
    max-height:80%;
    
    
}
.ProductDiv:hover {
    box-shadow:0px 0px 1px;
}

#ProductTitel,#ProductPrice{
    
   
}

.FilterRow{
    
    background-color:white;
    
    
}


@media screen and (min-width: 1265px) {
    
    .ProductWrapper{
        
        margin:2%;

    }
}

@media screen and (max-width: 1265px) {
    
    .ProductDiv{

        width:33%;
 
    } 
}



@media screen and (max-width: 900px) {
    
    #wrapper {
        position: static;
    }
    
    .footer {
        position: static;
    }
    .ProductDiv{

        width:50%;    
    }   
}


@media screen and (max-width: 415px) {
    
  

#searchbtn {
    
    width: 70%;
    
}
    
body {
      height: 100%;  
    }
    
    
    .popular {
        margin-top: 15%;
    }
    
    .ProductDiv{
        
        width:100%;
        margin-left:0;
     
}


    
}



#dropadvance {
    
    background-color:#417C81;
    color: white;
   
    
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#dropadvance1 {
    
   margin-bottom:45px;
    color: white;
   
    
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}



.dropdown1 {
    position: relative;
    display: inline-block;
    margin-left:5%;
    float:left;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown1:hover .dropbtn {
    background-color: #3e8e41;
}

#filtercontainer{
    width:100%;
    box-shadow: 0 10px 10px -10px;
 
}
#dropcontainer{
    
width:121px;

clear:both;
    
}

#advancedfilterbar{
    
    margin-bottom:20px;
    border-radius:5px;
 
}   


#headpanel>a{
    
color:black;
font-size:12px;

}


#divpanel{
   
   
    
}


#headpanel{
    text-align:center;
    padding:5px;
    
}


#footpanel{
    text-align: center;
    width:80%;
    margin-left:10%;
    height:35px;
    background-color:white;
        
}
.minidrops{

    border-radius:3px;
    width:30%;
    
}




#ProductPrice{
 
    font-weight: bold;
    
}

#Brand>img{
   
    height:15px;
    
}



.pager{

width:100%;
text-align:center;



}
#Butik{
    vertical-align: middle;
    position:absolute;
    bottom:0;
    text-align: center;
    width:100%;

    
}
.shoppic{
    
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
    
}

.pagination>li>a, .pagination>li>span {
   
    color:  #417C81;
    
}

.SpecDiv{
    
    
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  
    
}