#myCarousel {
    width: 20%;
    height: 200px;
    margin-left: 5%;
    margin-top: 1%;
}

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%); 
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0) 100%); 
}

.carousel-inner>.item>img {
    margin-top: 10%;
}

.glyphicon-chevron-right {
    color: red;
}

.glyphicon-chevron-left {
    color: red;
}


.carousel-inner>.item>img {
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

#logga {
    font-family: 'Ubuntu', sans-serif;
    font-style: bold;
    text-align: center;
    font-size: 400%;
    color: red;
    margin: auto;
}

#logtext {
    text-align: center;
    font-family: 'Lobster', cursive;
    margin-top: 0;
    margin-bottom: 1%;
}

#popular {
    font-family: 'Lobster', cursive;
    font-style: bold;
    margin-bottom: 0;
    margin-left: 10%;
    margin-top: 9%;
}

#navigation {
    background-color: red;
    border: none;
}

#navigation > a  {
    color: white;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-style: bold;
    height: 5%;
    font-size: 80%;
}

#copyright {
    margin-top: 1%;
}

#searchhead {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-style: bold;
    font-size: 200%;
}

.col-xs-8 {
    width: 80%;
}

.col-xs-offset-2 {
    margin-left: 10%;
}

#searchbtn {
    color: white;;
    background-color: red;
    border-color: #ccc;
}

#categorybtn {
    color: white;;
    background-color: dimgray;
    border-color: #ccc;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #b50a0a;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: red;
}

.navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #b50a0a;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}


/*CSS för register.html, resten ärvs från ovanstående*/
#CreateButton{
    background-color: red;
    color: white;
}

#registerh2{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}

#termsButton{
    border-color: white;
    background-color: white;
    color: dodgerblue;
    font-size: 14px;
}