<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Koholo.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="main1.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</head>
    
<body>
    <div class="logga">
        <img id="logo" src="logo-koholo.png">
    </div>
    
<nav id="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="brandname" class="navbar-brand" href="index.html">Koholo.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kontakt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">Kontakta oss</a></li>
            <li><a href="Company.html">För företag</a></li>
          </ul>
        </li>
        <li><a href="how-to.html">Att shoppa</a></li>
        <li><a href="about.html">Om oss</a></li>
        <li><a href="#">Butiker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrera dig</a></li>
        <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
      </ul>
    </div>
  </div>
    
 </nav>
        <div id="sfdiv" class="col-xs-8 col-xs-offset-2">
		    <div id = "searchF" class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" id="categorybtn" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Kategori</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">Contains</a></li>
                      <li><a href="#its_equal">It's equal</a></li>
                      <li><a href="#greather_than">Greather than ></a></li>
                      <li><a href="#less_than">Less than</a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Sök produkt...">
                <span class="input-group-btn">
                    <button id ="searchbtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
<div id = "dropcontainer"><div class="dropdown1">
  <button class="dropbtn">Filtrera efter:</button>
  <div class="dropdown-content">
    <a href="#">Bokstavsordning</a>
    <a href="#">Pris</a>
    <a href="#">Senast tillagd</a>
  </div>
</div>
</div>

<div id ="ProductWrapper" >
    
             
    
   
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/80APZS6SUS_89384197_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/82APFSMOHW_7310647180960_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/08APLS9SNS_89383827_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/83APKSWCL2_3114439055429_back.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/017922-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/01APPOI6T7_5415212479394_711-Skinny-Jeans-Fair-Spirit_detail.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/227256-0426.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/42APO8EX4S_5415313111469_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/38APSO19RU_5415212219020_711-Skinny-Daytrip-Back_other.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/60AP382AOY_7340110928683_side.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
         <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/018998-0001.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/38APSO19RU_5415212219020_711-Skinny-Daytrip-Back_other.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
       <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/38APSO19RU_5415212219020_711-Skinny-Daytrip-Back_other.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        
        

</div>
    
        
    <footer id="sidfot" class="footer">
        <p id="copyright">Presenteras av Koholo Shopping Network © 2016 koholo.com. Alla rättigheter förbehållna</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>