#CreateButton{
    background-color: red;
    color: white;
}

#registerh2{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}

#termsButton{
    border-color: white;
    background-color: white;
    color: dodgerblue;
    font-size: 14px;
}