<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Koholo.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    
    
</head>
<body>
    <div id="wrapper">
    <div class="logga">
        <img id="logo" src="logo-koholo.png">
    </div>
    
<nav id="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="brandname" class="navbar-brand" href="index.html">Koholo.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kontakt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">Kontakta oss</a></li>
            <li><a href="Company.html">För företag</a></li>
          </ul>
        </li>
        <li><a href="how-to.html">Att shoppa</a></li>
        <li><a href="about.html">Om oss</a></li>
        <li><a href="#">Butiker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrera dig</a></li>
        <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
      </ul>
    </div>
  </div>
    
 </nav>
  
    
        
        
        
        
        
        
        
        
        
          <div class="container">
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" id="categorybtn" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Kategori</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li value="Barn & Leksaker"><a>Barn & Leksaker</a></li>
                        <li value="Böcker & Tidningar"><a>Böcker & Tidningar</a></li>
                        <li value="Bygg & Renovering"><a>Bygg & Renovering</a></li>
                        <li value="Djur"><a>Djur</a></li>
                        <li value="Elektronik & Datorer"><a>Elektronik & Datorer</a></li>
                        <li value="Film, Musik & Spel"><a>Film, Musik & Spel</a></li>
                        <li value="Glasögon & Linser"><a>Glasögon & Linser</a></li>
                        <li value="Hälsa & Skönhet"><a>Hälsa & Skönhet</a></li>
                        <li value="Hem & Trädgård"><a>Hem & Trädgård</a></li>
                        <li value="Hobby & Musikinstrument"><a>Hobby & Musikinstrument</a></li>
                        <li value="Industri & Verktyg"><a>Industri & Verktyg</a></li>
                        <li value="Internetvaruhus"><a>Internetvaruhus</a></li>
                        <li value="Kläder & Mode"><a>Kläder & Mode</a></li>
                        <li value="Konst & Hantverk"><a>Konst & Hantverk</a></li>
                        <li value="Kontor & Skola"><a>Kontor & Skola</a></li>
                        <li value="Mat, Dryck & Tobak"><a>Mat, Dryck & Tobak</a></li>
                        <li value="Mobil & Telefoni"><a>Mobil & Telefoni</a></li>
                        <li value="Motor & Transport"><a>Motor & Transport</a></li>
                        <li value="Övrigt"><a>Övrigt</a></li>
                        <li value="Presenter & Upplevelser"><a>Presenter & Upplevelser</a></li>
                        <li value="Resor & Biljetter"><a>Resor & Biljetter</a></li>
                        <li value="Säkerhet & Trygghet"><a>Säkerhet & Trygghet</a></li>
                        <li value="Samlev & Erotik"><a>Samlev & Erotik</a></li>
                        <li value="Sport & Fritid"><a>Sport & Fritid</a></li>
                        <li value="Tjänster"><a>Tjänster</a></li>
                        <li value="Vitvaror & Hushållsprodukter"><a>Vitvaror & Hushållsprodukter</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Sök produkt...">
                <span class="input-group-btn">
                    <button id ="searchbtn1" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
               
                </span>
        </div>
	</div>
    
        

</div>
                  
          
        
</div>
        
          
        
        
        
        
         <div  id = "advancedfilterbar" >
                <div class="col-md-4 col-md-offset-4" id="divpanel">
                    <div class="panel-heading" id ="headpanel">
                        
                        <a  href="#collapse1" data-toggle="collapse">Visa/dölj utökad sökning</a>
                       
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      
                        <div class="panel-footer" id ="footpanel">
                            
                            
                            
                        
                            <select class="minidrops">
                              <option>Ägare</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                            </select>
                                                    
                            <select class="minidrops">
                              <option>Butiker</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                            </select>
                                                    
                            <select class="minidrops">
                              <option>Länder</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                            </select>
                       
                        </div>
                    </div>
                </div>
            </div>  
        
  
      <div class="modal-header">
   
      </div>
      <div class="col-md-6 col-md-offset-3 modal-body">
        <h3 class="productinfoheader">Jeans &amp; Stuff</h3>
        <p class="productinfo">Levi's</p>
        <p>511 Slim Fit Evolution Creek</p>
        <p class="productinfo">1099 :-</p>
        
        <img class="modalimage" src="byssor.jpg">
          
        <h4 class="descriptionheader">Beskrivning</h4>
        <p class="productdescription">Ett par jeans med modern smal passform med utrymme för rörelse, en klassiker från och med nu. Dessa jeans sitter under midjan med en smal passform över höft och lår och smala ben.</p>
          
      </div>
      <div class="col-md-6 col-md-offset-3 modal-footer">
          <button type="button" class="btn btn-success"><a href="#" id="modallink">Beställ</a></button>
      </div>

      
        </div>

    <footer class="footer">
        <p id="copyright">Presenteras av Koholo Shopping Network © 2016 koholo.com. Alla rättigheter förbehållna</p>
        
        <div class="container">
    <div class="text-center">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.instagram.com/koholo_shopping/" class="icoInsta" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/koholo" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/koholoshopping" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/+Koholoshopping" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/company-beta/5307166/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
				</div>
    </footer>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>