<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Koholo.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</head>
    
<body>
    <div class="logga">
        <img id="logo" src="logo-koholo.png">
    </div>
    
<nav id="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="brandname" class="navbar-brand" href="index.html">Koholo.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kontakt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">Kontakta oss</a></li>
            <li><a href="Company.html">För företag</a></li>
          </ul>
        </li>
        <li><a href="how-to.html">Att shoppa</a></li>
        <li><a href="about.html">Om oss</a></li>
        <li><a href="#">Butiker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrera dig</a></li>
        <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
      </ul>
    </div>
  </div>
 </nav>
    <div class="logga">
        <img id="storelogo" src="logga_muboag.gif">
    </div>

    <div class="col-xs-6 col-xs-offset-3">
        <h2 class="storedescription">Ridsport Online - Ridsportbutik | ridkläder, hästutrustning mm.</h2>
        <h3 class="storecategory">Sport & Fritid, Företag, Endast onlinebutik</h3>
        <h4 class="storelink"><a href="www.ridsportonline.se">www.ridsportonline.com</a></h4>
    </div>
    
    <div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Sök i butik"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
    
   <footer id="sidfot" class="footer">
        <p id="copyright">Presenteras av Koholo Shopping Network © 2016 koholo.com. Alla rättigheter förbehållna</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>