<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Koholo.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
</head>
    
<body>
    <div id="wrapper">
    <div class="logga">
        <img id="logo" src="logo-koholo.png">
    </div>
    
<nav id="navigation" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="brandname" class="navbar-brand" href="index.html">Koholo.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kontakt<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">Kontakta oss</a></li>
            <li><a href="Company.html">För företag</a></li>
          </ul>
        </li>
        <li><a href="how-to.html">Att shoppa</a></li>
        <li><a href="about.html">Om oss</a></li>
        <li><a href="#">Butiker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Registrera dig</a></li>
        <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logga in</a></li>
      </ul>
    </div>
  </div>
 </nav>
    <div class="logga">
        <img id="storelogo" src="logga_muboag.gif">
    </div>

    <div class="col-xs-6 col-xs-offset-3 text-center">
        <h2 class="storedescription">Ridsport Online - Ridsportbutik | ridkläder, hästutrustning mm.</h2>
        <h3 class="storecategory">Sport & Fritid, Företag, Endast onlinebutik</h3>
        <h4 class="storelink"><a href="www.ridsportonline.se">www.ridsportonline.com</a></h4>
        
    </div>
    
    <div class="container">
	<div class="row">
		<div class="col-xs-12">
            <div class="input-group" id="adv-search">
                <input type="text" id="storesearch" class="form-control" placeholder="Sök i butik"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
    <hr class="col-xs-8 col-xs-offset-2">
    
    <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/80APZS6SUS_89384197_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/82APFSMOHW_7310647180960_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/08APLS9SNS_89383827_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/83APKSWCL2_3114439055429_back.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/017922-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/01APPOI6T7_5415212479394_711-Skinny-Jeans-Fair-Spirit_detail.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/227256-0426.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/42APO8EX4S_5415313111469_front.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/38APSO19RU_5415212219020_711-Skinny-Daytrip-Back_other.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/60AP382AOY_7340110928683_side.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
         <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/018998-0001.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
            <img src="http://nlyscandinavia.scene7.com/is/image/nlyscandinavia/productLarge/025605-0029.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
            <div id = ""></div>
        </div>
        <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/38APSO19RU_5415212219020_711-Skinny-Daytrip-Back_other.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
       <div class="ProductDiv col-md-2">
             <img src="https://www.ahlens.se/INTERSHOP/static/BOS/Ahlens-AhlensSE-Site/-/Ahlens/sv_SE/ProductListMobileRetina/38APSO19RU_5415212219020_711-Skinny-Daytrip-Back_other.jpg">
            <div id = "ProductTitel">Kostymbyxa</div>
            <div id = "ProductPrice">299:-</div>
        </div>
    </div>
   <footer class="footer">
        <p id="copyright">Presenteras av Koholo Shopping Network © 2016 koholo.com. Alla rättigheter förbehållna</p>
        
        <div class="container">
    <div class="text-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoInsta" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
				</div>
    </footer>
    <script src="script.js"></script>
</body>
</html>